//  Button
//  ==========================================================================
//
//  quickly create a styled button


@mixin button ($button-padding-y: 0.75em, $button-padding-x: 1em, $button-line-height: 1.5) {
  appearance: none;
  background: $transparent;
  border-radius: $base-border-radius;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  line-height: $button-line-height;
  outline: 0;
  padding: $button-padding-y $button-padding-x;
  text-decoration: none;
  user-select: none;
}
