//  Layout
//  ==========================================================================


$wrapper-width-xl: 1200px !default;
$wrapper-width-lg: 1000px !default;
$wrapper-width-md: 780px !default;


// center a block element

@mixin layout-center ($center-max-width: $wrapper-width-xl, $center-padding: $base-gutter) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: $center-max-width;
  width: 100%;

  @if $center-padding != false {
    padding-left: $center-padding;
    padding-right: $center-padding;
  }
}


// create a wrapper element

@mixin layout-wrapper () {
  @include layout-center();
  @include hasta('lg') {
    max-width: $wrapper-width-md;
  }
  @include desde-hasta('lg', 'xl') {
    max-width: $wrapper-width-lg;
  }
}


// create a block element

@mixin layout-block () {
  display: block;
  width: 100%;
}
